[Unit]
Description=Rclone bisync Proton Drive for {{ main_user }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ main_user }}
ExecStart=/usr/bin/rclone bisync protondrive: /home/{{ main_user }} \
  --create-empty-src-dirs \
  --compare size,modtime \
  --resilient \
  --log-file /home/{{ main_user }}/.local/share/rclone/bisync.log \
  --log-level INFO
RemainAfterExit=no

[Install]
WantedBy=multi-user.target